<h2 class="section-title">{{ .titles.about }}</h2>

<p itemprop="description">Como cada año, Amazon Web Services organiza su evento anual,
    <a href="https://reinvent.awsevents.com/">re:Invent</a>, donde se anuncian las
    novedades para el siguiente año y donde hay cientos de charlas técnicas y de negocio para saber más de la nube.</p>

<p>Todo eso está muy bien, pero lo que queremos es saber qué piensa la comunidad de AWS. Y por eso estamos organizando
    un episodio semanal durante re:Invent en el que vamos a juntar a gente con más experiencia en AWS, a gente más junior,
    a peña que le gusta el cacharreo a bajo nivel, otras que no se acercan a nada que no huela a serverless, y también a
    quien le da un poco a todo.</p>

<p>Cada semana hablaremos de lo que nos apetezca. De qué anuncios nos han parecido chulos, cuáles son un poco meh, de lo
    que tenemos en mente construir usando la nube, o del somormujo ibérico. La comunidad es lo que tiene, que comentará
    lo que le parezca bien.</p>
