<h2 class="section-title">{{ .titles.location }}</h2>

<p itemprop="address">
  Ya sabes que este año toca quedarse en casa, así que vamos a retransmitir en directo paralelo en
  <a href="https://www.twitch.tv/supercoco9">twitch</a> y
  <a href="https://www.youtube.com/watch?v=-29cjS0iHoc&ab_channel=javierenlanube">YouTube</a>.
</p>

<p>Durante el directo podrás comentar lo que te apetezca en el chat y, en la medida de lo posible,
   intentaremos contestarte en vivo. De hecho, si te apetece ser parte del evento y salir en cámara
   a comentar el re:Invent solo tienes que mandarle un privado de twitter a
  <a href="https://twitter.com/supercoco9">nuestro chico para todo</a>. Solo te pedimos que entres con
  ganas de participar y que respetes nuestro <a href="https://berlincodeofconduct.org/es/">Código de conducta.</a>
</p>

